body {
  background-color: #273036;
  color: #fff;
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffd581;
  background-image: url(img/bg-hero.jpg);
  background-position: 0 -100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000;
}

#projects {
  background-color: #ffd581;
}

section {
  padding-top: 5rem;
}

/* My Setup Plan */
.box-img {
  position: relative;
  background-color: #ffb218;
  border-radius: 11px;
  height: 500px;
  transform-style: preserve-3d;
}

.box-img::before {
  content: "FUTURE";
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.box-img:hover::before {
  opacity: 0.2;
}

.box-img::after {
  content: "EQUIPMENT";
  position: absolute;
  color: #fff;
  font-size: 3.7em;
  font-weight: bold;
  font-style: italic;
  left: 50%;
  transform: translate(-50%, 0);
  top: 350px;
  transition: 0.5s;
  opacity: 0;
}

.box-img:hover::after {
  opacity: 0.2;
}

.keyboard {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.box-img:hover .keyboard {
  top: 20px;
  opacity: 1;
}

.detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.box-img:hover .detail-button {
  opacity: 1;
  bottom: 15px;
}

.keyboard-img {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  transition: 0.5s;
}

.box-img:hover .keyboard-img {
  transform: translate3d(-50%, -50%, 80px) scale(1.08) rotate(-2.8deg);
}
